@import url('https://fonts.font.im/css?family=Ubuntu,400,500|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Manrope:wght@200,300,400,500,600,700,800|TikTok+Sans:opsz,wght@200,300,400,500,600,700,800&display=swap');

@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@theme {
    --font-Ubuntu: 'Ubuntu', sans-serif;
    --font-Manrope: 'Manrope', sans-serif;
    --font-Roboto: 'Roboto', sans-serif;
    --font-Tiktok: 'Tiktok Sans', sans-serif;
}
:root {
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        'Roboto',
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        PingFang SC,
        Hiragino Sans GB,
        noto sans,
        Microsoft YaHei,
        Helvetica Neue,
        Helvetica,
        Arial,
        FuckNelS0n,
        sans-serif;
    line-height: 1.5;
    font-size: 0.875rem;
    font-weight: 400;
    color: #4b5563;
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

#app {
    margin: 0 auto;
    font-weight: normal;
}
